<header class="header">
        <section class="top">    
        <div class="logoc" >
            <a href="/"><img src="/img/logo.png"  id="logo"> </img> </a>
        </div>

        <form action="" method="" class="buscador">
            <input id="imput" type="text" size="40"></input>
            <button id="lupa" class="fas fa-search"> </button>
        </form>

        <div class="cuenta​​">
            <p class="cuenta"> <a href="/user/register">Creá tu cuenta​​  <i class="fas fa-address-card"></i>  </a> </p>

            <p class="cuenta" > <a href="/user/login">Inicia sesion  <i class="fas fa-address-card"></i>  </a> </p>
        </div>
    </section>

    <div id="hambur" class="burger-menu" ;>
        <i class="fas fa-bars" style="background-color: black; padding: 10px; border-style: groove;"></i>
    </div>

    <nav id="mobile">
        
        <ul type="none" class="middle">
            
            <li> <a href="/">Inicio</a>​ </li>
            <li> <a href="/courses"> Cursos </a> </li>
            <li> Ayuda​​ </li>
            <li> Membresia </li>
            <li> <a href="/courses/cart"> <i class="fas fa-shopping-cart"></i> </a> </li>
        </ul>

    </nav>
        <img  src="/img/banner2.jpg" width="100%" height="145px"> </img> 
    </div>
</header>