<header class="toplogin">
  <div >
    <a href="/"><img src="/img/logo.png" id="logo"> </img> </a>
  </div>
  
  <div class="buscador">
      <input id="imput" type="text" size="21" name="destinatario" ></input>
      <button id="lupa" class="fas fa-search"> </button>
  </div>
</header>