<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CriptoLatino</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css" /> 
  </head>

  <body>
      <header class="header">

        <section class="top">
          
            <div >
                <a href="./"><img src="/img/logo.png" id="logo"> </img> </a>
    
            </div>

    
        <div class="buscador">
            <input id="imput" type="text" size="21" name="destinatario" ></input>
        
            <button id="lupa" class="fas fa-search"> </button>
        </div>

      <div class="cuenta​​">
        <a href="./register"> Creá tu cuenta​​ <i class="fas fa-address-card"></i> </a>
    </div>

    </section>



    <div id="hambur" class="burger-menu" ;>
      <i class="fas fa-bars" style="background-color: black; padding: 10px; border-style: groove;"></i>
      </div>
    
    <nav id="mobile">
        
        <ul type="none" class="middle">
            <li> <a href="./">Inicio</a>​ </li>
            <li> Cursos</li>
            <li> Ayuda​​ </li>
            <li> Membresia </li>
            <li> <a href="./cart"> <i class="fas fa-shopping-cart"></i> </a> </li>
        </ul>

    
    </nav>
    
      <img  src="/img/banner2.jpg" width="100%" height="145px"> </img> 
  </div>


 </header>

 <main>
    <article class="producto">
        <h2 class="titulares"> Curso introductorio al mundo de los criptoactivos</h2>
        <section class="right">
            <div id="info">
        
                <p  id="descripcion"> Descubre el mundo de las criptomonedas,
                    y conviértete en un experto del tema. </p>

                <p> Modalidad online</p>
                <p> 4 encuentros de 2 hs </p>
                <p> Sin conocimientos previos </p>
                <p> 6 cuotas sin interés de $748 </p>
        
            </div>
        </section>
        
                <button id="agregar-al-carrito"> Comprar </button> <!-- aca podria ir un anchor a un pdf o algo -->
        </div>
    </article>
</main>

 <footer class="footer">

    <br>
    <form action="" method="" class="form"> Formulario de Contacto 
        <br>
        <input type="text" name="nombre"  placeholder="Nombre completo">
        <br>
        <input type="email" name="email" placeholder="Correo electronico">
        <br>
        <input type="number" name="telefono" placeholder="Telefono">
        <br>
        <label>Deja tus comentarios</label>
        <br>
        <br>
        <textarea> </textarea>
    </form>
    <br>
    
Redes sociales

<div class="Icon-Social">

    <div>
        <a href="https://www.binance.com/es/trade/BTC_USDT?layout=basic&type=spot" target="_blank">
            <img src="img/binance.png" alt="LOGO DE BINANCE" class="Button Button-Binance"></a>
    </div>

    <div>
        <a href="https://www.instagram.com" target="_blank">
            <img src="img/instagram.png" alt="LOGO DE INSTAGRAM" class="Button Button-Ig"></a>
    </div>

    <div>
        <a href="https://www.twitter.com" target="_blank">
            <img src="img/twitter.png" alt="LOGO DE TWITTER" class="Button Button Button-Tw"></a>
    </div>

    <div>
        <a href="https://www.facebook.com" target="_blank">
            <img src="img/facebook.png" alt="LOGO DE FACEBOOK" class="Button Button Button-Fb"></a>
    </div>
    
</div>
   

  </footer>
</body>