<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CriptoLatino</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css" /> 
  </head>
  <body>
      <header class="header">

        <section class="top">
          
            <div >
            <a href="./"><img src="/img/logo.png"  id="logo"> </img> </a>

        </div>

    
        <div class="buscador">
            <input id="imput" type="text" size="40" name="destinatario" ></input>
        
            <label id="lupa" class="fas fa-search"> </label>
        </div>

      <div class="cuenta​​">

        <p > <a href="./register"> Creá tu cuenta​​  <i class="fas fa-address-card"></i>  </a> </p>
<br>
<p > <a href="./login"> Inicia sesion  <i class="fas fa-address-card"></i>  </a> </p>
    </div>

    </section>



    <div id="hambur" class="burger-menu" ;>
      <i class="fas fa-bars" style="background-color: black; padding: 10px; border-style: groove;"></i>
      </div>
    
    <nav id="mobile">
        
        <ul type="none" class="middle">
            
            <li> Inicio​ </li>
            <li> <a href="./product" > Cursos </a> </li>
            <li> Ayuda​​ </li>
            <li> Membresia </li>
            <li> <a href="./cart"> <i class="fas fa-shopping-cart"></i> </a> </li>
        </ul>

    
    </nav>
    
      <img  src="/img/banner2.jpg" width="100%" height="145px"> </img> 
  </div>

 </header>
     
 <br>
 <main id="main">
          
        <div>
          <h2 class="titulares"> Porque estudiar con nosotros  </h2>

          <ul class="infocursos">
           <li> Conoce una estrategia eficaz y rentable para empezar a GANAR DINERO</li>
           <li> Entiende qué BROKERS utilizar y por qué</li>
           <li>  Aprende a GENERAR INGRESOS cuidando tu capital</li>
           <li> Por qué huir del apalancamiento</li>
           <li>Conoce cómo hacer una buena gestión de riesgo</li>
           <li> Elije entre todos nuestros cursos para especializarte en el trading</li>
           
        </ul>

        </div>

        <div class="nav">
            <nav> nav     </nav>
            <br>
        </div>

        <div>
           <h2 class="titulares"> Info Sobre cursos y programa de senales  </h2>

          <p> ES HORA DE LLEVAR TUS INVERSIONES AL SIGUIENTE NIVEL
            Con mas de 5 años de experiencia siendo TRADER independiente he obtenido muy buenos rendimientos en el cripto mercado comprobable, incluso cuando el mercado se encuentra en tendencias bajistas. 
        </p> 
            
          <p>Simple! Yo te envió exactamente la moneda bitcoin/altcoin que que yo estoy comprando por medio de Telegram para que puedas aprovechar las oportunidades diarias del mercado y obtener los mismos resultados que yo. 
          </p>

          <p>Las tendencias son alcistas, bajistas o laterales, y en todo momento cambian. Por eso recibirás la información relevante del mercado marcando la tendencia clara con mayor probabilidad de suceder, mi objetivo es adelantarme al mercado para que tu obtengas el máximo provecho del servicio.</p>

          <p>Hay momentos en que no se debe de operar porque el mercado esta en peligro, Por lo tanto yo te informo del estado del mercado para que puedas proteger tu capital y evitar posibles pérdidas.</p>
        </div>

  
    <div class="carousel-inner">
      <div class="carrusel">
        <iframe  width="560" height="515" src="https://www.youtube-nocookie.com/embed/67XMVdXcMTw?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="d-block w-100"></iframe>
      </div>   
  </div>

        


      </main>
      
      <footer class="footer">

        <br>
        <form action="" method="" class="form"> Formulario de Contacto 
            <br>
            <input type="text" name="nombre"  placeholder="Nombre completo">
            <br>
            <input type="email" name="email" placeholder="Correo electronico">
            <br>
            <input type="number" name="telefono" placeholder="Telefono">
            <br>
            <label>Deja tus comentarios</label>
            <br>
            <br>
            <textarea> </textarea>
        </form>
        <br>
        
    Redes sociales

    <div class="Icon-Social">

        <div>
            <a href="https://www.binance.com/es/trade/BTC_USDT?layout=basic&type=spot" target="_blank">
                <img src="img/binance.png" alt="LOGO DE BINANCE" class="Button Button-Binance"></a>
        </div>

        <div>
            <a href="https://www.instagram.com" target="_blank">
                <img src="img/instagram.png" alt="LOGO DE INSTAGRAM" class="Button Button-Ig"></a>
        </div>

        <div>
            <a href="https://www.twitter.com" target="_blank">
                <img src="img/twitter.png" alt="LOGO DE TWITTER" class="Button Button Button-Tw"></a>
        </div>

        <div>
            <a href="https://www.facebook.com" target="_blank">
                <img src="img/facebook.png" alt="LOGO DE FACEBOOK" class="Button Button Button-Fb"></a>
        </div>
        
    </div>
       

      </footer>
  </body>

</html>


