<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CriptoLatino</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css" /> 
  </head>

  <body>
      <header class="header">

        <section class="top">
          
            <div >
                <a href="./"><img src="/img/logo.png" id="logo"> </img> </a>
    
            </div>

    
        <div class="buscador">
            <input id="imput" type="text" size="21" name="destinatario" ></input>
        
            <button id="lupa" class="fas fa-search"> </button>
        </div>

        <div class="cuenta​​">

            <p > <a href="./register"> Creá tu cuenta​​  <i class="fas fa-address-card"></i>  </a> </p>
    <br>
    <p > <a href="./login"> Inicia sesion  <i class="fas fa-address-card"></i>  </a> </p>
        </div>
    
        </section>



    <div id="hambur" class="burger-menu" ;>
      <i class="fas fa-bars" style="background-color: black; padding: 10px; border-style: groove;"></i>
      </div>
    
    <nav id="mobile">
        
        <ul type="none" class="middle">
            
            <li> <a href="./">Inicio</a>​ </li>
            <li> Cursos</li>
            <li> Ayuda​​ </li>
            <li> Membresia </li>
            <li> <a href="./cart"> <i class="fas fa-shopping-cart"></i> </a> </li>
        </ul>

    
    </nav>
    
      <img  src="/img/banner2.jpg" width="100%" height="145px"> </img> 
  </div>


 </header>

 <main>

    <h1 title="CURSOS" class="titulocurso" > CURSOS DISPONIBLES </h1>
    <article class="producto">
        <h2 class="titulares"> Curso introductorio al mundo de los criptoactivos</h2>
        <section class="right">
            <img src="/img/curso.jpg" class="imagenescurso" > </img>
            <div id="info">
                <p  id="descripcion"> Descubre el mundo de las criptomonedas,
                    y conviértete en un experto del tema.
                   Conocé los motivos de su creación,
                    y cómo se compran e intercambian las criptomonedas. </p>

                <p> Modalidad online</p>
                <p> 4 encuentros de 2 hs </p>
                <p> Sin conocimientos previos </p>
                <p> 6 cuotas sin interés de $748 </p>
        
            </div>
        </section>
        <div id="contenido"> 
            <h4> En este curso vas a aprender </h4>
            <ul class="columnas">
                <li> Fundamentos Bitcoin </li>
                <li>Tecnología Blockchain</li>
                <li> Creación de Bloques y Cadena de Bloques</li>
                <li> Mineros y Usuarios</li>
                <li>Cómo obtener bitcoins y crear una billetera </li>
                <li>Transferir y recibir criptomonedas</li>
                <li>Seguridad en el mundo Bitcoin</li>
                <li>Minería y creación de Criptomonedas</li>
                <li>Cómo manejar diferentes tipos de Wallets existentes</li>
                <li>Comercialización de criptomonedas</li>
                <li>Cómo minar por hardware o cloud mining</li>
                <li>Tipos de criptomonedas en el mercado</li>
                </ul>
               <a href="./cart"> <button id="agregar-al-carrito"> Agregar al carrito </button> </a> <!-- aca podria ir un anchor a un pdf o algo -->
        </div>
    </article>    

    <article class="producto">
        <h2 class="titulares"> Inversión y trading de criptomonedas</h2>
        <section class="right">
            <img src="/img/curso2.jpg" class="imagenescurso" > </img>
            <div id="info">
                <p  id="descripcion"> Este curso tiene como finalidad familiarizar a los participantes al mundo de la "Inversión con Criptomonedas", comenzando por la descripción y sus características, hasta lograr implementar herramientas para su operatoria y trading. 
                    Adicionalmente, también brindamos recomendaciones para realizar operaciones, normas de seguridad a tener en cuenta, y sitios fiables. Esta instancia de fromación constituye, sin duda, una base fundamental para quienes quieran comenzar con la operatoria de "Criptomonedas", y lo hagan con seguridad, pasión y las herramientas necesarias. </p>

                <p> Modalidad online</p>
                <p> 8 encuentros de 2 hs </p>
                <p> Realizar estrategias para optimizar sus resultados.</p>
                <p> Utilizar métodos de detección temprana.</p>
                <p>Comprender el momento del Mercado (Alertas y Señales).</p>
                <p>Lograr que los participantes se sientan confiados y seguros al realizar sus operaciones con Criptomonedas.</p>
                <p> 6 cuotas sin interés de $1548 </p>
        
            </div>
        </section>
        <div id="contenido"> 
            <h4> En este curso vas a aprender </h4>
            <ul class="columnas">
                <li> Introducción a las Criptomonedas, nacimiento , evolución y criterio Filosofía del Bitcoiner, Sistema de Cobros y Pagos sin permiso, Ejecución Libre </li>
                <li>Arquitectura y funcionamiento de las Criptos, Mecanismo y Desarrollo. El Cliente Bitcoin Core, su visión y esperanza. Mineros, Formadores y Armadores del Negocio Gastos y Comisiones de las transacciones Política Monetaria, Resguardos</li>
                <li> Los Monederos, su Función. Direcciones, Contacto. Diferentes Monederos. Monederos On-line. Monederos físicos (Hardware wallets).Explorador de Bloques. Los Paper Wallet (Generación de direcciones de papel). Recomendaciones. Reconstrucción de carteras (Semillas)</li>
                <li> Mineros y Usuarios</li>
                <li>Intercambio comercial extra-bursátil. Participantes. Bolsas de criptomonedas (Exchanges). Principales exchanges. Características y Funcionamiento. La Apertura de Cuenta, Requisitos Generales. </li>
                <li>Medidas de Seguridad. Qué debemos Tener en Cuenta. Formas de Fondeo local e internacional. (Bancos y Pagadores). Coins y Dinero Fiduciario (fiat).</li>
                <li>Los distintos Tipos de Gráficos. Plataforma para analizar Gráficos.(Recomendados del Curso). Tipos de gráficos, Porción de Tiempo a Analizar. Jerarquía de Estudios a emplear.n</li>
                <li>Niveles Psicológicos, Alertas y Señales. Soportes y Resistencias. Líneas de Tendencia. Canal Tendencial. Distintos Patrones: De Confirmación. Patrones de Reversión. Patrones de Continuación.</li>
                
                </ul>
                <a href="./cart"> <button id="agregar-al-carrito"> Agregar al carrito </button> </a> <!-- aca podria ir un anchor a un pdf o algo -->
        </div>
    </article>       

<article class="producto">
    <h2 class="titulares"> Analista Técnico financiero y bursátil</h2>
    <section class="right">
        <img src="/img/curso3.jpg" class="imagenescurso" > </img>
        <div id="info">
            <p  id="descripcion"> Gracias a este curso de análisis técnico los participantes podrán comprender los mercados financieros, para que puedan hacer sus propios análisis de inversión y desarrollar sus estrategias o sistemas de trading Rentables. El programa tiene un enfoque práctico y de aplicación inmediata. Esta instancia formativa está pensada para ser cursada de forma independiente, pero su aprobación, más las de los siguientes tres cursos: Analista de Inversiones y Mercados financieros, con aplicación de simulador de operaciones bursátiles en tiempo real Ejecutivo en Finanzas y Mercado de Capitales Administrador de inversiones y Gestión de Patrimonios Financieros, con aplicación de simulador de operaciones bursátiles en tiempo real. Dará lugar a que los participantes obtengan el Certificado de Experto Universitario en Mercado de Capitales. </p>

            <p> Modalidad online</p>
            <p>Objetivo general:  Formar a los participantes para analizar gráficos e histogramas y, a partir de allí, tomar decisiones, evaluar riesgos, asesorar a inversores y acompañar decisiones con un enfoque amplio.
            </p>
              <p>  Objetivos específicos: Detecten con claridad y practicidad las oportunidades para armar o desarmar carteras.>
              </p>
               <p> Apliquen los conocimientos al momento de administrar una cartera de inversión, y adquieran criterios para orientar a los inversores a complementar la inteligencia en la selección de activos.
            </p>
               <p> Conozcan y aprendan a interpretar los indicadores básicos, para luego desarrollar interpretaciones más avanzadas con otros indicadores mas complejos.</p>
            </p>
            <p> 12 encuentros de 3 hs </p>
            <p> Se requieren conocimientos previos </p>
            <p> 12 cuotas sin interés de $2388 </p>
    
        </div>
    </section>
    <div id="contenido"> 
        <h4> En este curso vas a aprender </h4>
        <ul class="columnas">
            <li> Conceptos básicos </li>
            <li>Definición y fundamentos del Análisis Técnico</li>
            <li> Análisis Técnico vs. Análisis Fundamental</li>
            <li> Análisis Técnico Estadístico vs. Chartismo</li>
            <li>Un poco de historia sobre el Análisis Técnico </li>
            <li>Series temporales de cotizaciones</li>
            <li>Software de Análisis Técnico</li>
            <li>Gráficos de barras</li>
            <li>Gráficos de línea</li>
            <li>Gráficos de Candlestick</li>
            <li>Gráficos Intradiarios, diarios, semanales o mensuales</li>
            <li>Las medias moviles</li>
            </ul>
            <a href="./cart"> <button id="agregar-al-carrito"> Agregar al carrito </button> </a> <!-- aca podria ir un anchor a un pdf o algo -->
    </div>
</article>  


 </main>
 <footer class="footer">

    <br>
    <form action="" method="" class="form"> Formulario de Contacto 
        <br>
        <input type="text" name="nombre"  placeholder="Nombre completo">
        <br>
        <input type="email" name="email" placeholder="Correo electronico">
        <br>
        <input type="number" name="telefono" placeholder="Telefono">
        <br>
        <label>Deja tus comentarios</label>
        <br>
        <br>
        <textarea> </textarea>
    </form>
    <br>
    
Redes sociales

<div class="Icon-Social">

    <div>
        <a href="https://www.binance.com/es/trade/BTC_USDT?layout=basic&type=spot" target="_blank">
            <img src="img/binance.png" alt="LOGO DE BINANCE" class="Button Button-Binance"></a>
    </div>

    <div>
        <a href="https://www.instagram.com" target="_blank">
            <img src="img/instagram.png" alt="LOGO DE INSTAGRAM" class="Button Button-Ig"></a>
    </div>

    <div>
        <a href="https://www.twitter.com" target="_blank">
            <img src="img/twitter.png" alt="LOGO DE TWITTER" class="Button Button Button-Tw"></a>
    </div>

    <div>
        <a href="https://www.facebook.com" target="_blank">
            <img src="img/facebook.png" alt="LOGO DE FACEBOOK" class="Button Button Button-Fb"></a>
    </div>
    
</div>
   

  </footer>
</body>
</html>