<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css" /> 

    <title> REGISTRO </title>
</head>

<body>
    <header class="toplogin">

      <div >
        <a href="./"><img src="/img/logo.png" id="logo"> </img> </a>

    </div>

    
      <div class="buscador">
          <input id="imput" type="text" size="21" name="destinatario" ></input>
      
          <button id="lupa" class="fas fa-search"> </button>
      </div>


    </header>

 <section class= "Form-Container m-5">
  <h2>Crear Cuenta</h2>
  <form class="row g-3">
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Correo Electrónico</label>
        <input type="email" class="form-control" id="inputEmail4">
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="inputPassword4">
      </div>
      <div class="col-12">
        <label for="inputAddress" class="form-label">Dirección</label>
        <input type="text" class="form-control" id="inputAddress" >
      </div>
      <div class="col-md-6">
        <label for="inputCity" class="form-label">Ciudad</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="col-md-4">
        <label for="inputState" class="form-label">País</label>
        <select id="inputState" class="form-select">
          <option selected>Seleccione...</option>
          <option> Argentina </option>
          <option> Uruguay </option>
          <option> Chile </option>
          <option> Paraguay </option>
          <option> Bolivia </option>
          <option> Perú </option>
          <option> Colombia </option>
          <option> Brasil </option>
          <option> Venezuela </option>
          <option> México </option>
        </select>
      </div>
      <div class="col-md-2">
        <label for="inputZip" class="form-label">Código postal</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
      <div class="col-12">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck">
          <label class="form-check-label" for="gridCheck">
            Estoy de acuerdo con los "Terminos y condiciones"
          </label>
        </div>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Continuar</button>
      </div>
    </form>
</section>

<footer class="footer">

  <br>
  <form action="" method="" class="form"> Formulario de Contacto 
      <br>
      <input type="text" name="nombre"  placeholder="Nombre completo">
      <br>
      <input type="email" name="email" placeholder="Correo electronico">
      <br>
      <input type="number" name="telefono" placeholder="Telefono">
      <br>
      <label>Deja tus comentarios</label>
      <br>
      <br>
      <textarea> </textarea>
  </form>
  <br>
  
Redes sociales

<div class="Icon-Social">

  <div>
      <a href="https://www.binance.com/es/trade/BTC_USDT?layout=basic&type=spot" target="_blank">
          <img src="img/binance.png" alt="LOGO DE BINANCE" class="Button Button-Binance"></a>
  </div>

  <div>
      <a href="https://www.instagram.com" target="_blank">
          <img src="img/instagram.png" alt="LOGO DE INSTAGRAM" class="Button Button-Ig"></a>
  </div>

  <div>
      <a href="https://www.twitter.com" target="_blank">
          <img src="img/twitter.png" alt="LOGO DE TWITTER" class="Button Button Button-Tw"></a>
  </div>

  <div>
      <a href="https://www.facebook.com" target="_blank">
          <img src="img/facebook.png" alt="LOGO DE FACEBOOK" class="Button Button Button-Fb"></a>
  </div>
  
</div>
 

</footer>
</body>
</html>