* {box-sizing: content-box;}

body {font-family:  'Roboto', sans-serif ;
    font-size: 16px; 
}

.header {background-color: white;
    background-size:cover;}

.top {
    display: flex;
justify-content: space-between;
align-items: flex-end}

.toplogin {
    display: flex;
justify-content: space-between;}

.texto {font-size: 12px ;}

.Icon-Social {display: flex;
    justify-content: center;
}
.Icon-Social div img {
    width: 50px;
    height: 50px;
  }


.titulares{font-size: 24px;
color: white; background-color: black;}

.nav {background-color: goldenrod;}


footer{text-align: center;
padding-top: 10%;
margin: auto;
background-color: goldenrod;}

.foot{text-align: left;}

.center{text-align: center;}

.cuenta {padding: 0%; font-size: 12px; margin: auto; }

.buscador {display: block ;width: 20%; position:relative ; right: 20%;}

#imput  {margin-left: 30px; margin-top: 20%; width: 100%;}

#logo {margin-left: 1vw; width: 40%;padding-left: 0%; height: 100%;}

.logoc {box-sizing:border-box; padding: 0px;}

#lupa {margin-left: 30px;}

.titulocurso {text-align: center; background-color: goldenrod; }

.producto{border: solid 2px black; margin: 50px; padding: 10px; }

.descripcion {text-align: left; }

.infocursos {text-align: left;}

.imagenescurso{width: 50%; height: 11%; padding: 5px; margin: auto; text-align: center;}

.columnas { font-size: small; text-align: left;}

.texto2 {border: solid 1px black; padding: 10%; margin: 1%; background: goldenrod linear-gradient(3); }

.carrusel{
    padding: 2%;
    margin-top: 15%;
    border: 1px solid black;
    border-radius: 1rem;
  }

#main {text-align: center;
width: 100%;
padding-bottom: 10%;
background-color: white;
height: auto;
color: black;
}

.middle {display: flex;
justify-content: space-between; align-content: space-between; align-items: initial; padding: 2%;
 background-color: black; color: white;}

 .form{text-align: left; padding-left: 10%;}

#caja {border: double 5px #ebebeb;
 background-color: white;   
    width: 270px;
    height: 320px;
padding: 15px;
margin: auto;
}

.flexcaja {display: flex;
    flex-direction: column;
justify-content: space-between;
align-items: center;}


.caja-flex{
    display: flex;
    justify-content:flex-start;
    padding: 0%;
}

#banner {padding: 100px;
    margin: 0x;
text-align: center;}

#mobile {display: none;}

#hambur{ display: block;
    color:white ; 
    font-size: 25px;
     text-align: center;
    border-radius: 20px;
margin: auto;}


        @media (min-width: 600px){
             body {box-shadow : 0px 0px 10px rgb ( 100 , 100 , 100 ) }
            #mobile {display: block}
            #hambur {display:none}
            .flexcaja{flex-direction: row;}
            .cuenta{font-size: 15px; padding: 10px; right: 20%} 

            
        /*Tablets*/ } 
        @media only screen and (min-width: 769 px){
             body {box-shadow : 0px 0px 10px rgb ( 100 , 100 , 100 ) }
            #mobile {display: block}
            #hambur {display: none} 
            .flexcaja {flex-direction: row;}
            /*Laptop*/
        } 

        /* flexbox*/
        
    

        .logoenvio { 
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
           }
           



/*
@media only screen and (min-width: 460px){
    body {
        background: red ;
    }
}



