<!DOCTYPE html>

<html>

  <head>
    <%-include ('../partials/head')%>
  </head>

  <body>
    <header class="header">
        <%-include ('../partials/header')%>
    </header>

 <main>
    <article class="producto">
        <h2 class="titulares"> Curso introductorio al mundo de los criptoactivos</h2>
        <section class="right">
            <div id="info">
        
                <p  id="descripcion"> Descubre el mundo de las criptomonedas,
                    y conviértete en un experto del tema. </p>

                <p> Modalidad online</p>
                <p> 4 encuentros de 2 hs </p>
                <p> Sin conocimientos previos </p>
                <p> 6 cuotas sin interés de $748 </p>
        
            </div>
        </section>
        
                <button id="agregar-al-carrito"> Comprar </button> <!-- aca podria ir un anchor a un pdf o algo -->
        </div>
    </article>
</main>

 <footer class="footer">
    <%-include ('../partials/footer')%>
  </footer>
</body>
</html>