<!DOCTYPE html>

<html>

  <head>
    <%-include ('.././partials/head')%>
  </head>

  <body>
    <%-include ('.././partials/header')%>

 <main>
    <% for(let curso of Allcursos) { %>
       
        <h3> Nombre curso: <%=curso%>  </h3>
       
        <% } %>


 </main>

    <%-include ('.././partials/footer')%>
</body>
</html>