<!DOCTYPE html>
<html>

<head>
  <%-include ('.././partials/head')%>
</head>

<body>
  <%-include ('.././partials/header-login')%>

  <section class="Form-Container m-5 ">      
      <h2>Ingresar</h2>

      <form action="/user/login" method="POST" class="row g-3" >
          <div class="mb-3">
            <label for="email" class="form-label">Correo electronico</label>
            <input type="email" class="form-control" name="email" id="email" />
            <div id="emailHelp" class="form-text">No compartas tu correo eletronico con nadie.</div>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" name="password" id="password">
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Recordarme</label>
          </div>
          <button type="submit" class="button-detail">Ingresar</button>
        </form>
  </section>

      <%-include ('.././partials/footer')%>
  </body>
</html>