<!DOCTYPE html>
<html>

<head>
  <%-include ('../partials/head')%>
</head>

<body>
    <header class="toplogin">
        <%-include ('../partials/header-login')%>
      </header>

<!-- armar -->

      <footer class="footer">
        <%-include ('../partials/footer')%>
      </footer>
    </body>
  </html>