<!DOCTYPE html>
<html>

<head>
  <%-include ('.././partials/head')%>
</head>

<body>
    <header class="toplogin">
      <%-include ('.././partials/header-login')%>
    </header>

 <section class= "Form-Container m-5">
  <h2>Crear Cuenta</h2>
  <form class="row g-3">
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Correo Electrónico</label>
        <input type="email" class="form-control" id="inputEmail4">
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="inputPassword4">
      </div>
      <div class="col-12">
        <label for="inputAddress" class="form-label">Dirección</label>
        <input type="text" class="form-control" id="inputAddress" >
      </div>
      <div class="col-md-6">
        <label for="inputCity" class="form-label">Ciudad</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="col-md-4">
        <label for="inputState" class="form-label">País</label>
        <select id="inputState" class="form-select">
          <option selected>Seleccione...</option>
          <option> Argentina </option>
          <option> Uruguay </option>
          <option> Chile </option>
          <option> Paraguay </option>
          <option> Bolivia </option>
          <option> Perú </option>
          <option> Colombia </option>
          <option> Brasil </option>
          <option> Venezuela </option>
          <option> México </option>
        </select>
      </div>
      <div class="col-md-2">
        <label for="inputZip" class="form-label">Código postal</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
      <div class="col-12">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck">
          <label class="form-check-label" for="gridCheck">
            Estoy de acuerdo con los "Terminos y condiciones"
          </label>
        </div>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Continuar</button>
      </div>
    </form>
</section>

<footer class="footer">
  <%-include ('.././partials/footer')%>
</footer>
</body>
</html>